@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<div class="text-left">
    <h2 class="display-4 text-success">Create New Wallet</h2>

</div>
<div class="text-left">

    <p>Download Metamask</p>

</div>
<br />
<br />
<br />

<div class="text-left">
    <h3 class="display-4 text-primary">When getting your personal wallet always take the following precautions:</h3>
    <br />
    <br />
    <p>-Don’t store all your cryptocurrency in one place</p>
    <br />
    <p>-Never store your private key online</p>
    <br />
    <p>-Back up your wallet regularly</p>
    <br />
    <p>-Be aware of phishing attacks</p>
    <br />
    <br />
    <hr class="rounded" />
    <style>
        hr.rounded {
            border-top: 8px solid #90d963;
            border-radius: 5px;
        }
    </style>


</div>
<div class="text-center">
    <br />
    <br />
    <h3 class="display-4 text-primary">What is Metamask?</h3>
    <br />
    <br />
    <p>
        MetaMask is a global community of developers and designers dedicated to making the world a better place with blockchain technology. Their mission is to democratize access to the decentralized web, and through this mission, to transform the internet and world economy to one that empowers individuals through interactions based on consent, privacy, and free association.

    </p>
    <br />
    <br />

    <hr class="rounded">
    <br />
    <br />
    <br />
    <br />

    <div class="col-6 text-lg-left">
        <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank" class="btn btn-success">
            + Create New Wallet (Chrome)
        </a>
    </div>

    <br />

    <div class="col-6 text-lg-left">
        <a href="https://microsoftedge.microsoft.com/addons/detail/metamask/ejbalbakoplchlghecdalmeeeajnimhm?hl=en-US" target="_blank" class="btn btn-success">
            + Create New Wallet (Edge)
        </a>
    </div>
    <br />
    <br />
    <br />
    <br />





</div>
